@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?7xdkhi');
	src:url('../fonts/icomoon.eot?#iefix7xdkhi') format('embedded-opentype'),
		url('../fonts/icomoon.woff?7xdkhi') format('woff'),
		url('../fonts/icomoon.ttf?7xdkhi') format('truetype'),
		url('../fonts/icomoon.svg?7xdkhi#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-tags:before {
	content: "\f02c";
}
.icon-arrow-left:before {
	content: "\f060";
}
.icon-arrow-right:before {
	content: "\f061";
}
.icon-smile-o:before {
	content: "\f118";
}
.icon-archive:before {
	content: "\f187";
}
